body{
    background-color:rgb(241, 241, 241);

}

/* fad in out */

.fade-box {
  opacity: 0; /* Initially set opacity to 0 for the fade-in effect */
  transition: opacity 0.5s ease-in-out;
}

.fade-box.visible {
  opacity: 1; /* Displayed opacity */
}

.fade-in { animation: fadeIn 2s; }

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(1.5);}
  100% { opacity: 1;transform: scale(1); }
}



.dote{
    background-color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position:relative;
    top: 2rem;

}


.div-name{
  margin-left: 2rem;
}
.name{
    position: relative;
    left: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}
.dev{
    position:relative;
    top: 1rem;
}
.des{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}
.li{
    text-decoration: none !important;
    position:relative;
    top: -2.2rem;
    left: 60rem;
    color: black;
    margin-right:1rem ;
    padding-right: 1rem;
    border-right: 1px solid black;
}
.li:hover{
    color: goldenrod;
}
#lis{
    border: none !important;
}
.wrapper{
    position:absolute !important;
    top: 13px;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position:absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 10px ;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  .img-thumbnail {
    width: 480px;
    height: 480px;
    border: 1px solid rgb(242, 242, 242);
    object-fit: contain;
    background-color: azure;
    border-radius: 50%;
    position: relative;
    top: 9.5rem;
  }
  
  .aside {
    position: relative;
    top: -18rem;
    left: 33rem;
  }
  
  .hello {
    font-size: 7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .about {
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight:600;
    width: 400px;
  }
  
  .bm {
    position: relative;
    top: 0.5rem;
    left: -2rem;
    margin: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: larger;
    font-style: normal;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.5s;
  }

  .btn-section{
    display: flex;
    flex-direction: row;
  }
  
  #resume-btn {
    background-color: goldenrod;
    border: 1px solid rgb(0, 0, 0);
  }
  
  #project-btn {
    background-color: orangered;
    border: 1px solid rgb(0, 0, 0);
  }
  
  #contact-btn {
    background-color: skyblue;
    border: 1px solid rgb(0, 0, 0);
  }
  
  #resume-btn:hover,
  #project-btn:hover,
  #contact-btn:hover {
    background-color: rgb(242, 242, 242);
  }
  
  .main {
    position: relative;
    left: 12rem;
  }
  /* .flex-container {
    border-top: 1px solid  gray;
    padding-top: 2rem;
    display: flex;
    justify-content:space-around;
    padding-bottom: 2rem;
    }*/
    .logo{
      margin: 0.5rem !important;
    } 
    .flex-container {
      border-top: 1px solid gray;
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  
  .phone,
  .mail-head,
  .social,
  .final {
      text-align: center;
      margin-bottom: 1rem;
  }
  
  .phone a,
  .mail-head a,
  .social a {
      color: black;
      text-decoration: none;
  }
/* Mobile styles (up to 767px) */
@media screen and (max-width: 767px) {

  .div-name{
    margin-left: -0.3rem;
  }

    .li{
        display: none !important;
    }

    .main {
      left: 0;
      top: -3rem;
    }
  
    .aside {
      left: 0;
      margin-left: 1rem;
    }
  
    .img-thumbnail {
      width: 90%;
      height: auto;
      top: 28rem;
      left: 1rem;
    }
  
    .hello {
      font-size: 4rem;
    }
  
    .about {
      width: 100%;
      font-size: larger;
    }
  
    .bm {
      width: 175px;
      height: 100px;
      top: -1rem;
      left: 0;
    }
    .flex-container {
      margin-top: 5rem;
      flex-direction: column;
      align-items: center;
  }

    .phone,
    .mail-head,
    .social,
    .final {
        width: 100%;
    }

    .final {
        margin-top: 1rem;
    }

    .copy {
        display: block;
        margin-bottom: 0.5rem;
    }

  }

